html {
  font-size: 16px;
}
body {
  font-family: "Helvetica", sans-serif;
  background-color: #dfffcc;
}

/* header and navbar */
header {
  position: fixed;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  width: 100%;
  background-color: #b7ff8e;
}

.logo {
  padding: 20px;
}
h1 {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

a > h1 {
  color: black;
  text-decoration: none;
}

nav {
  list-style-type: none;
  padding-right: 20px;
}
nav li {
  display: inline-block;
  padding: 20px;
}

nav a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
nav a i.material-icons {
  display: none;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline;
  padding: 0 40px 10px 40px;
}

p {
  line-height: 1.2;
}


/* about   --------------------------------------*/
.about {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
}

.pic {
  width: 15%;
  padding-top: 20px;
}
.pic img {
  max-width: 80%;
  height: auto;
}

.desc {
  width: 35%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.desc span {
  font-style: italic;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 7px;
}

.quote {
  width: 40%;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: bold;
  color: #2f8000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#p1 {
  align-self: flex-start;
  padding-left: 50px;
  padding-top: 20px;
}
#p2 {
  align-self: center;
}
#p3 {
  align-self: flex-end;
  padding-right: 50px;
  padding-bottom: 20px;
}


/* skills   --------------------------------------*/
.skills, .projects {
  padding-top: 60px;
}

.list {
  padding: 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  max-width: 425px;
  background-color: white;
  border: 1px solid #9eff66;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 15px;
}

.col p {
  padding: 15px;
}

img.symbol {
  max-height: 100px;
  width: auto;
}

/* projects   ------------------------------------ */
.projects .list {
  padding: 0 10px;
}

.example {
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #9eff66;
  border-radius: 20px;
  padding: 7px;
  margin: 10px;
}

.example img {
  max-width: 280px;
  height: auto;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #2f8000;
  padding-bottom: 10px;
}

.example p.info {
  text-align: center;
  font-size: 0.8rem;
  padding-top: 5px;
  font-style: italic;
}

.projects {
  padding-bottom: 40px;
}

/* footer -----------------------------------------*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #b7ff8e;
  border-top: 1px solid black;
  font-size: 0.8rem;
}

footer a {
  color: black;
  text-decoration: none;
}

/* kontakt ----------------------------------------*/
.contact {
  padding: 80px 20px;
}

.contact p {
  padding: 5px;
}

/* moblie queries   -------------------------------
---------------------------------------------------*/
@media (max-width: 960px){
  /* nav */
  nav li {
    padding: 10px;
  }
  nav a span.desktop {
    display: none;
  }
  nav a i.material-icons {
    display: inline-block;
  }

  /* about */
  .about {
    flex-wrap: wrap;
  }
  .quote {
    width: 70%;
    padding: 20px;
  }
  .desc {
    width: 80%;
    padding: 5px;
  }
  .pic {
    width: 15%;
  }

  /* skills */
  .list {
    padding: 0;
  }
  .col {
    width: 45%;
    margin: 5px;
  }
}

@media (max-width: 635px){
  /* nav same as 960 */
  /* about */
  .about {
    flex-direction: column;
  }
  .desc, .quote {
    width: 90%;
    padding: 20px;
  }
  .pic {
    align-self: center;
    width: 40%;
    padding: 0;
  }
  /* skills and examples */
  .list {
    flex-direction: column;
    align-items: center;
  }
  .col {
    width: 90%;
    margin: 10px;
  }
}
